<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Alex Mercado</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
   <div class="container-fluid nopadding">
    <div id="wrapper">
      <div class="overlay"></div>
      <nav class="navbar navbar-inverse navbar-fixed-top"
      id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <a href="../index.html">Inicio</a>
        </li>
        <li><a href="hernandez.html">David Hernández</a></li>
        <li><a href="#">Alex Mercado</a></li>
        <li><a href="nolasco.html">Vladimir Nolasco</a></li>      
      </ul>
    </nav>

    <section id="page-content-wrapper">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>

    <article id="miSlide" class="carousel slide">
      <article id="miSlide" class="carousel slide">
          
          <ol class="carousel-indicators">
            <li class="active" data-target="#miSlide" data-slide-to="0"></li>
            <li  data-target="#miSlide" data-slide-to="1"></li>
            <li  data-target="#miSlide" data-slide-to="2"></li>
          </ol>
          
          <div class="carousel-inner">
            <div class="item active">
              <img src="../img/imga1.jpg" class="adaptar">
            </div>
            <div class="item">
              <img src="../img/imga2.jpg" class="adaptar">
            </div>
            <div class="item">
              <img src="../img/imga3.jpg" class="adaptar">
            </div>
          </div>
          
          <a href="#miSlide" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a href="#miSlide" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>


    </article>
    </section>

    </header>

  </div>



    <section>
      <article class="content-section-a">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <hr class= "section-heading-spacer"/>
              <br/>
              <h2 class= "section-heading">Alex Mercado</h2>
              <br/>
              <p class="lead">Diseñador gráfico y animador encargado de la ilustracion en la empresa. Admirador del diseño vectorial, profesional en el trabajo en equipo, detallista y fanático de las series de TV, anime y comics.
              </p>

        </div>
        <div class ="col-md-5">
          <img src="../img/img3.png" class="img-fluid">
        </div>
    </section>

    <section>
      <article class="content-section-b">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              
              <br/>
              <img src="../img/imga2.png" class="img-fluid">
              

        </div>
        <div class ="col-md-7">
          <h2 class= "section-heading">Afiche - V de Vendetta</h2>
              <br/>
              <p class="lead">Detalle de la ilustracion basada en la adaptación al cine de la novela gráfica  <a href= "#">V de Vendetta</a>
              escrita por Alan Moore e ilustrada por David Lloyd.
              </p>
          
        </div>
    </section>

    <section>
      <article class="content-section-c">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <hr class= "section-heading-spacer"/>
              <br/>
              <h2 class= "section-heading">El Legado - Ilustración Ganadora</h2>
              <br/>
              <p class="lead">Concurso patrocinado por
                <a href= "#">Orden General de Cuentas</a>
                Ilustración ganadora en la categoría para personas de mayores de 18 años, el concurso patrocinado por la campaña nacional “Combate Contra la Corrupción” con el tema “Niños y la corrupción”
              </p>

        </div>
        <div class ="col-md-5">
          <img src="../img/imga3.png" class="img-fluid">
        </div>
    </section>

    <section>
      <article class="content-section-d">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              
              <br/>
              <img src="../img/imga4.png" class="img-fluid">
              

        </div>
        <div class ="col-md-7">
          <h2 class= "section-heading">Stickres - Comic Con SV 2017</h2>
              <br/>
              <p class="lead">Con el tema de este año
                <a href= "#">The Batman</a>
                Stickres realizado basado en esta tematica y aqui prensentamos las piezas
                mas vendidas durante los tres dias que duro el evento en la seccion de corredor
                de artistas
              </p>
          
        </div>
    </section>

    <section>
      <article class="content-section-e">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <hr class= "section-heading-spacer"/>
              <br/>
              <h2 class= "section-heading">Diseño de Personaje - Animación</h2>
              <br/>
              <p class="lead">Sara uno de los
                Diseño de Personajes elaborados para la animación del spot publicitario transmitidos en la página oficial de las carreras en línea y distancia de la Universidad de El Salvador esta nueva oferta contribuye a la construcción de un país más equitativo e inclusivo mediante la ampliación de oportunidades de acceso a una educación superior pública de calidad.<a href= "#">Click Aqui para ver animacion</a>
              </p>

        </div>
        <div class ="col-md-5">
          <img src="../img/imga5.png" class="img-fluid">
        </div>
    </section>

    <section>
      <article class="content-section-f">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              
              <br/>
              <img src="../img/imga6.png" class="img-fluid">
              

        </div>
        <div class ="col-md-7">
          <h2 class= "section-heading">Video Clases - Universidad en linea</h2>
              <br/>
              <p class="lead">
                Animaciones realizado con un conjunto de los programas de la Suit de Adobe, las video clases narran junto los profesores de cada asignatura que imparten una clase que se recoge en un material audiovisual en el que además del vídeo se utilizan recursos pedagógicos sincronizados con la explicación.<a href= "#">Click Aqui para ver el listado de Video Clases</a>
              </p>
          
        </div>
    </section>


    <section>
      <article class="content-section-d">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              
              <br/>
              <iframe width="320" height="315"src="https://www.youtube.com/embed/aSC-GlqVGrI"></iframe>
              

        </div>
        <div class ="col-md-7">
          <h2 class= "section-heading">Speed Painting- Tigre Busero</h2>
              <br/>
              <p class="lead">Un speed painting fusionando dos conceptos un elemento salvadoreño y un animal asi nace el tigre busero.
              </p>
          
        </div>
    </section>

  



    <div class="banner-bga">
    <div class="container">
      <div class="row">
        <div class="col-md-5"></div>
        <h2>Datos de Contacto</h2>
        <div class="col-md-7"> &nbsp;</div>
    </div>
    </div>
    </div>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Luis Mercado MS10020</p>
  </div>
</footer>
</section>
</div>
</div>

    <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script> 
  </div>
</body>

</html>
